/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Title";
  src: url("../fonts/handwriting-draft_free-version.ttf") format("truetype");
}

.origo {
  /* background-size: cover;
  background-position: center;
  background-image: url("../img/sbtexture.jpg"); */
  margin: 0;
  padding: 10px 10px 10px 10px;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.origo.sheet header.sheet-header h1 input {
  margin: 0px;
}

/* Styles limited to origo sheets */
.origo .item-form {
  font-family: "Roboto", sans-serif;
}

.origo .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.origo .sheet-tabs {
  flex: 0 0 auto;
  border: none;
  flex-grow: 1;
  margin-bottom: 40px;
}

.origo .tox .tox-editor-container {
  background: #fff;
}

.origo .tox .tox-edit-area {
  padding: 0 8px;
}

.origo .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.origo .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.origo .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
}

.origo .items-list .item-header {
  font-weight: bold;
}

.origo .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.origo .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.origo .items-list .item img {
  display: block;
}

.origo .items-list .item-name {
  margin: 0;
}

.origo .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 100px;
  text-align: right;
}

.origo .input-stat {
  background: transparent;
  border: none;
  text-align: center;
  font-family: Title;
  font-size: 15px;
  width: 100px;
}

/* Custom character */
/* Header */
.origo .sheet-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 100px;
  overflow: hidden;
  
}

.origo .profile-img {
  max-width: 90px;
  max-height: 90px;
  width: auto;
  height: auto;
  margin-right: 2.2%;
  margin-left: 2.2%;
  margin-bottom: 5px;
  border-style: none;
  margin-top: 7px;
}

.origo .header-fields {
  flex: 1;
}

.origo .charname {
  height: 60px;
  padding: 15px 10px;
  margin: 0px;
  border: none;
}

.origo .charname input {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: rgba(219, 219, 219, 0.2);
  border-radius: 5px;
  border: #757575 solid 1px;
  padding: 0px 15px;
  font-size: 190%;
  font-family: Title;
}

.origo .charname input:disabled {
  color: #000;
}

/* Navigation tab */
.origo .tabs {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex: 0;
}

div.origo header.sheet-header {
  align-items: start;
  height: auto;
}

.origo .iteam-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.origo .tabs .item {
  flex:1;
  font-family: 'Title';
  color: #001;
  font-size: 20px;
  margin-right: 100px;
}

.origo .tabs .item.active {
  display: inline-block;
  width: 100px;
  text-shadow: none;
  text-decoration: underline;
}

/* Body block */
.origo .left-sheet, .origo .middle-sheet, .origo .right-sheet {
  max-height: 95%;
  width: 30%;
}

.origo .sheet-body {
  height: calc(100% - 150px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.origo .sheet-body .tab {
  height: 100%;
  padding: 0px 5px;
}

.origo .sheet-body .personnage {
  display: flex;
  justify-content: space-between;
}

.origo .sheet-body .personnage,.origo .sheet-body .inventaire, .origo .sheet-body .capacites {
  display: none;
}

.origo .sheet-body .personnage.active, .origo .sheet-body .inventaire.active, .origo .sheet-body .capacites.active {
  display: flex;
}

.origo .sheet-body .inventaire.active, .origo .sheet-body .capacites.active {
  flex-direction: column;
}

/* Left block */
/* Stat tab */
.origo .left-sheet {
  display: flex;
}

.origo .left-sheet .favoris {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.origo .personnage-a .arme-d .grise {
  filter: contrast(0.4);
} 

.origo .stat-tab {
  width: 40%;
  border-radius: 10px;
  background-color: #F9E4B7;
}

.origo .stat-tab .stat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25% 0%;
}

.origo .stat-tab .stat-list li {
  font-family: Title;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.origo .stat-tab .stat-list li p {
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.origo .stat-tab .stat-list li .element-span {
  text-align: center;
  margin-bottom: 35%;
}

.origo .stat-tab .stat-list li .input-stat-m {
  margin-bottom: 10px;
}

/* Favoris */
.origo .left-sheet .items-fav, .origo .left-sheet .capacites-fav {
  width: 95%;
  border: #757575 solid 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: 0% 0% 10px 5%
}

.origo .left-sheet .items-fav li, .origo .left-sheet .capacites-fav li {
  height: 40px;
  border-bottom: #757575 1px solid;
  display: flex;
}

.origo .left-sheet .items-fav li img, .origo .left-sheet .capacites-fav li img {
  height: 100%;
}

.origo .left-sheet .items-fav li h3, .origo .left-sheet .capacites-fav li h3 {
  width: 100%;
  padding-top: 13px;
  font-family: Title;
  padding-left: 10%;
  font-size: 13px;
}

.origo .left-sheet .items-fav .item-control {
  margin-right: 4px;
} 

.origo .item-favoris.yellow {
  color: #debd0d;
}

.origo .item-favoris .item-favoris-c {
  margin-left: 20%;
}

.origo .item-armor.yellow, .origo .item-garme.yellow, .origo .item-armed.yellow2, .origo .item-armeg.yellow {
  color: #B22222;
}

/* Middle Block */
/* Health section */
.origo .sheet-health {
  width: 100%;
  min-height: 35%;
  border-radius: 10px;
  background-color: #F9E4B7;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.origo .sheet-health .shield {
  height: 90px;
  width: 90px;
  border: 6px solid #111;
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.origo .sheet-health .shield input {
  width: 90px;
}

.origo .health {
  width: 100%;
  height: 30%;
  border: #757575 solid 1px;
  border-radius: 5px;
}

.origo .title-health {
  font-family: 'Title';
  text-align: center;
  padding: 6px;
  border-bottom: #757575 1px solid;
}

.origo .stat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.origo .slash {
  font-family: Title;
  font-size: 400%;
}

.origo .energie {
  height: 30%;
  width: 100%;
  display: flex;
  margin-top: 3%;
  justify-content: space-between;
}

.origo .endurance {
  width: 48%;
  height: 100%;
  border: #757575 solid 1px;
  border-radius: 5px;
}

.origo .mana {
  width: 48%;
  height: 100%;
  border: #757575 solid 1px;
  border-radius: 5px;
}

/* Personnage */
.origo .personnage-a {
  background-image: url(../img/perso.png);
  width: 100%;
  height: 55%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5%;
}

.origo .personnage-a .armor-a, .origo .personnage-a .arme-g, .origo .personnage-a .arme-d {
  width: 7%;
  border-radius: 5px;
  border: #757575 1px solid;
  background-color: rgba(219, 219, 219, 0.4);
  position: absolute;
  transition: 0.5s;
}

.origo .personnage-a .arme-g img, .origo .personnage-a .arme-d img, .origo .personnage-a .armor-a img {
  position: inherit;
}

.origo .personnage-a .armor-a::after, .origo .personnage-a .arme-g::after, .origo .personnage-a .arme-d::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.origo .personnage-a .armor-a {
  top: 640px;
  left: 46%;
}

.origo .personnage-a .arme-g {
  top: 685px;
  left: 35%;
}

.origo .personnage-a .arme-d {
  top: 685px;
  left: 58%;
}

.origo .personnage-a .armor-a:hover, .origo .personnage-a .arme-g:hover, .origo .personnage-a .arme-d:hover {
  cursor: pointer;
  background-color: rgba(89, 89, 89, 0.4);
  transition: 0.5s;
}

/* Right Block */
.origo .rightblock {
  display: flex;
  flex: 0 0 100px;
  float: right;
  padding: 3px 10px;
}

.origo .right-sheet .traits {
  width: 100%;
  height: 33%;
  border: #757575 solid 1px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.origo .right-sheet .traits textarea {
  padding: 15px;
  width: 100%;
  height: 90%;
  background-color: transparent;
  resize: none;
  border-radius: 5px;
}

/* Items */
.origo .item-stat-body {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.origo .item-stat-line {
  margin-bottom: 8px;
}


.origo .item-stat-body label {
  display: inline-block;
  width: 200px;
  font-family: Title;
}

/* MESSAGE */

.roll-flexrow{
  display: flex;
  flex-direction:row;
  flex: 0 0 85%;
  padding: 0px 0px;
  margin:0;
}

.roll-sender-image{
  max-width:35px;
  max-height:35px;
  margin-right: 3px;
  border-style:none;
}

.roll-underline{
  border-bottom: 2px solid;
  height:20px;
  width:70%;
}

.roll-sender-name{
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-size: 14px;
  width:100%;
}

.roll-delete-button{
  width:10px;
}

.roll-flavor{
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  text-align:center;
  width:100%;
  margin-top:-10px;
}

.roll-result{
  font-family: Impact, sans-serif;
  font-size: 36px;
  text-align:center;
  width:100%;
  padding:15px 5px;
  height:70px;
}

.roll-detail{
  width:100%;
  padding: 5px 5px;
  height:70px;
  padding: 15px 5px;
}

.roll-area{
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

.label-roll{
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align:left;
}

.roll-formula{
  font-family: Tahoma, sans-serif;
  font-style: italic;
  font-size: 12px;
  text-align:left;
}

.roll-list{
  padding:0px 0px;
  margin:0;
}

.roll-die{
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align:left;
  padding:0px 3px;
}

.roll-wbutton{
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  color:blue;
  font-style: italic;
  text-align:left;
  padding:0px 0px;
  word-break: initial;
}

.roll-user{
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  font-style: italic;
  text-align:right;
  width:100%;
  padding:0px 5px;
}

.roll-timestamp{
  font-family: Tahoma, sans-serif;
  font-size: 9px;
  font-style: italic;
  text-align:center;
  width:100%;
  padding:0px 5px;
}

.greenCrit {
  color: green;
}

.redCrit {
  color: red;
}