<form class="{{cssClass}} flexcol" autocomplete="off">

    <!-- Sheet Header -->
    <header class="sheet-header">
        <!-- Header stuff goes here -->
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="test" height="100" width="100" draggable/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    <!-- Sheet Tab Navigation -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="iteam-tab">
            <a class="item" data-tab="personnage">Personnage</a>
            <a class="item" data-tab="inventaire">Inventaire</a>
            <a class="item" data-tab="capacites">Capacités</a>
        </div>
    </nav>
    
    <!-- Sheet Body -->
    <section class="sheet-body">

        <!-- Character Tab -->
        <div class="tab personnage active" data-group="primary" data-tab="personnage">
            <!-- left column -->
            <div class="left-sheet">
                <div class="stat-tab">
                    <!-- Stats -->
                    <ul class="stat-list">
                        <li class="list-element">
                            <p class="constitution" data-name="Constitution" data-modif="{{data.abilities.constitution.modificateur}}" data-value="{{data.data.abilities.constitution.value}}">Constitution</p>
                            <input class="input-stat input-stat-m" name="data.abilities.constitution.value" type="text" value="{{data.data.abilities.constitution.value}}" data-dtype="Number">
                            <span class="element-span" id="constitution">{{data.abilities.constitution.modificateur}}</span>
                        </li>
                        <li class="list-element">
                            <p class="force" data-name="Force" data-modif="{{data.abilities.force.modificateur}}" data-value="{{data.data.abilities.force.value}}">Force</p>
                            <input class="input-stat input-stat-m" name="data.abilities.force.value" type="text" value="{{data.data.abilities.force.value}}" data-dtype="Number">
                            <span class="element-span" id="force">{{data.abilities.force.modificateur}}</span>
                        </li>
                        <li class="list-element">
                            <p class="adresse" data-name="Adresse" data-modif="{{data.abilities.adresse.modificateur}}" data-value="{{data.data.abilities.adresse.value}}">Adresse</p>
                            <input class="input-stat input-stat-m" name="data.abilities.adresse.value" type="text" value="{{data.data.abilities.adresse.value}}" data-dtype="Number">
                            <span class="element-span" id="adresse">{{data.abilities.adresse.modificateur}}</span>
                        </li>
                        <li class="list-element">
                            <p class="sagesse" data-name="Sagesse" data-modif="{{data.abilities.sagesse.modificateur}}" data-value="{{data.data.abilities.sagesse.value}}">Sagesse</p>
                            <input class="input-stat input-stat-m" name="data.abilities.sagesse.value" type="text" value="{{data.data.abilities.sagesse.value}}" data-dtype="Number">
                            <span class="element-span" id="sagesse">{{data.abilities.sagesse.modificateur}}</span>
                        </li>
                        <li class="list-element">
                            <p class="savoir" data-name="Savoir" data-modif="{{data.abilities.savoir.modificateur}}" data-value="{{data.data.abilities.savoir.value}}">Savoir</p>
                            <input class="input-stat input-stat-m" name="data.abilities.savoir.value" type="text" value="{{data.data.abilities.savoir.value}}" data-dtype="Number">
                            <span class="element-span" id="savoir">{{data.abilities.savoir.modificateur}}</span>
                        </li>
                        <li class="list-element">
                            <p class="charisme" data-name="Charisme" data-modif="{{data.abilities.charisme.modificateur}}" data-value="{{data.data.abilities.charisme.value}}">Charisme</p>
                            <input class="input-stat input-stat-m" name="data.abilities.charisme.value" type="text" value="{{data.data.abilities.charisme.value}}" data-dtype="Number">
                            <span class="element-span" id="charisme">{{data.abilities.charisme.modificateur}}</span>
                        </li>
                        <li class="list-element">
                            <p class="perception" data-name="Perception" data-modif="{{data.abilities.perception.modificateur}}" data-value="{{data.data.abilities.perception.value}}">Perception</p>
                            <input class="input-stat input-stat-m" name="data.abilities.perception.value" type="text" value="{{data.data.abilities.perception.value}}" data-dtype="Number">
                            <span class="element-span" id="perception">{{data.abilities.perception.modificateur}}</span>
                        </li>
                    </ul>
                </div>

                <!-- Favoris -->
                <div class="favoris">
                    <div class="items-fav">
                        <h2 class="title-health">Objets Favoris</h2>
                        <ul>
                        </ul>
                    </div>
                    <div class="capacites-fav">
                        <h2 class="title-health">Capacités Favorites</h2>
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- middle column -->
            <div class="middle-sheet">
                <!-- Stat energie -->
                <div class="sheet-health">
                    <div class="shield">
                        <input class="input-stat shield-level" name="data.shield-level.0.stat.var2" type="number" id="" value="{{data.data.shield-level.0.stat.var2}}">
                    </div>
                    <div class="health">
                        <h2 class="title-health">Santé</h2>
                        <div class="stat">
                            <input type="text" class="input-stat" name="data.attributes.health.value" value="{{data.data.attributes.health.value}}" data-dtype="Number">
                            <span class="slash">/</span>
                            <input style="background-color: red;" type="text" class="input-stat" name="data.attributes.health.max" value="{{data.data.attributes.health.max}}" data-dtype="Number">
                            <span class="slash">/</span>
                            <input type="text" class="input-stat" name="data.attributes.health.limiteHealth" value="{{data.data.attributes.health.limiteHealth}}" data-dtype="Number">
                        </div>
                    </div>
                    <div class="energie">
                        <div class="endurance">
                            <h2 class="title-health">Endurance</h2>
                            <div class="stat">
                                <input class="input-stat" name="data.attributes.endurance.value" type="text" value="{{data.data.attributes.endurance.value}}" data-dtype="Number">
                                <span class="slash">/</span>
                                <input class="input-stat" name="data.attributes.endurance.max" type="text" value="{{data.data.attributes.endurance.max}}" data-dtype="Number">
                            </div>
                        </div>
                        <div class="mana">
                            <h2 class="title-health">Mana</h2>
                            <div class="stat">
                                <input class="input-stat" name="data.attributes.mana.value" type="text" value="{{data.data.attributes.mana.value}}" data-dtype="Number">
                                <span class="slash">/</span>
                                <input class="input-stat" name="data.attributes.mana.max" type="text" value="{{data.data.attributes.mana.max}}" data-dtype="Number">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Personnage -->
                <div class="personnage-a">
                    <div class="arme-g">

                    </div>
                    <div class="armor-a">

                    </div>
                    <div class="arme-d" id="arme-d">

                    </div>
                </div>
            </div>
            
            <!-- right column -->
            <div class="right-sheet">
                <div class="traits">
                    <h2 class="title-health">Traits</h2>
                    <textarea name="data.informations.traits" value="{{data.data.informations.traits}}">{{data.data.informations.traits}}</textarea>
                </div>
                <div class="traits">
                    <h2 class="title-health">Connaissances</h2>
                    <textarea name="data.informations.connaissances" value="{{data.data.informations.connaissances}}">{{data.data.informations.connaissances}}</textarea>
                </div>
                <div class="traits">
                    <h2 class="title-health">Description</h2>
                    <textarea name="data.informations.description" value="{{data.data.informations.description}}">{{data.data.informations.description}}</textarea>
                </div>
            </div>
        </div>

        <!-- Inventaire Tab -->
        <div class="tab inventaire" data-group="primary" data-tab="inventaire">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Nom de l'item</div>
                  <div class="item-controls">
                    Actions
                  </div>
                </li>
                <li class="item flexrow item-header">
                    <div class="item-name">Objets</div>
                </li>
                <li class="item flexrow item-header">
                    <div class="item-name">Armures</div>
                </li>
                <li class="item flexrow item-header">
                    <div class="item-name">Armes</div>
                </li>
                <li class="item flexrow item-header">
                    <div class="item-name">Grande Armes</div>
                </li>
            </ol>
        </div>

        <!-- Capacites Tab -->
        <div class="tab capacites" data-group="primary" data-tab="capacites">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Nom de la capacité</div>
                  <div class="item-controls">
                    <!-- <a class="item-control item-create" title="Create item" data-type="sort"><i class="fas fa-plus"></i> Add item</a> -->
                  </div>
                </li>
            </ol>
        </div>
    </section>
</form>
