<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    <!-- Sheet Tab Navigation -->
    <nav class="sheet-tabs tabs tabs-item" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Caractéristiques</a>
    </nav>

    <!-- Sheet Body -->
    <section class="sheet-body">

        <!-- Description Tab -->
        <div class="tab" data-group="primary" data-tab="description">
            
        </div>

        <!-- Attributes Tab -->
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <p>pas armure</p>
        </div>
    </section>
</form>
