<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    <!-- Sheet Tab Navigation -->
    <nav class="sheet-tabs tabs tabs-item" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Caractéristiques</a>
    </nav>

    <!-- Sheet Body -->
    <section class="sheet-body">

        <!-- Description Tab -->
        <div class="tab" data-group="primary" data-tab="description">
            
        </div>

        <!-- Attributes Tab -->
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="item-stat-body">
                <div class="item-stat-line">
                    <label for="data.stat.var1">Protection : </label>
                    <input class="input-stat input-stat-m" name="data.stat.var1" type="text" value="{{data.stat.var1}}" data-dtype="Number">
                </div>
                <div class="item-stat-line">
                    <label for="data.stat.var2">État : </label>
                    <input class="input-stat input-stat-m" name="data.stat.var2" type="text" value="{{data.stat.var2}}" data-dtype="Number">
                </div>
                <div class="item-stat-line">
                    <label for="data.stat.var3">Protection spéciale : </label>
                    <input class="input-stat input-stat-m" name="data.stat.var3" type="text" value="{{data.stat.var3}}" data-dtype="Text">
                </div>
                <div class="item-stat-line">
                    <label for="data.stat.var4">Valeur : </label>
                    <input class="input-stat input-stat-m" name="data.stat.var4" type="text" value="{{data.stat.var4}}" data-dtype="Number">
                </div>
            </div>
        </div>
    </section>
</form>
